web technologies/xml/schema.xml


<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="workshopinfo">
       <xs:complexType>
        <xs:sequence>
<xs:element name="workshop" maxOccurs="unbounded">
  <xs:complexType>
    <xs:sequence>
       <xs:element name="workshopname" type="xs:string"/>
       <xs:element name="description" type="xs:string"/>
       <xs:element name="noofseats" type="xs:integer"/>
       <xs:element name="fee" type="xs:integer"/>
       <xs:element name="schedule" maxOccurs="1">
           <xs:complexType>
             <xs:sequence>
                <xs:element name="startdate" type= "xs:date"/>
                <xs:element name="enddate" type= "xs:date"/>
            </xs:sequence>
          </xs:complexType>
          </xs:element>
          <xs:element name="contactinfo" maxOccurs="1">
          <xs:complexType>
             <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                 <xs:element name="phone" type="xs:integer"/>
                 <xs:element name="email" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
         </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>





